page-home {
    .background {
        background: rgb(30, 212, 255);
        background: linear-gradient(
            180deg,
            rgba(30, 212, 255, 1) 20%,
            rgba(34, 158, 255, 1) 45%,
            rgba(159, 114, 255, 1) 80%
        );
    }

    img {
        width: 100px;
        margin: 100px auto 0 auto;
        display: block;
        padding: 10px;
    }

    .bem-vindo {
        color: #fff;
        margin: 0 auto 20px auto;
        text-align: center;
    }

    .btn-home {
        margin-top: 5px;
        background-color: #fff;
        color: #229eff;
    }

    .btn-home:hover,
    .btn-home:focus {
        background-color: #229eff;
        color: #fff;
    }

}
